<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>用户消息</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
</head>
<body>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr operate="system" class="hback">
<td colspan="3" class="check_box">
<h2>{ke.function.title/}</h2>
</td>
</tr>
<tr operate="system" class="hback">
<td colspan="3" class="check_box">
{ke.function.addtime/}
</td>
</tr>

<tr operate="system" class="hback">
<td colspan="3" class="singlebtn">
{ke.function.remark/}
</td>
</tr>

</table>
</form>
</body>
</html>