@charset "utf-8";
*{ margin:0px;padding:0px; border:0px; outline:none;outline:0; list-style-type:none;list-style:none;-webkit-tap-highlight-color:transparent;}
body{ font-size:12px; font-family:"宋体";color:#444557; background:#fff}
html{width:100%; font-family:"宋体";-webkit-tap-highlight-color:transparent;-webkit-appearance:none;-moz-appearance:none;}
a img,img{border:0px;}
input[type="button"],input[type="date"],input[type="number"], input[type="submit"], input[type="reset"], input[type="text"],textarea,input[type="password"],select{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
::-webkit-input-placeholder {color:#999; text-decoration:none; outline:none}
::-moz-placeholder {color:#999; text-decoration:none; outline:none}
::-ms-input-placeholder{color:#999; text-decoration:none; outline:none}
input[complate='true']::-webkit-input-placeholder{ color:#CC0000;}
input[complate='true']::-moz-placeholder{ color:#CC0000;}
input[complate='true']::-ms-input-placeholder{ color:#CC0000;}

a{color:#444557; text-decoration:none;-webkit-touch-callout:none;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;-webkit-user-drag: none; text-decoration:none;}
.clear{ clear:both;font-size:0px; height:0px;}
input[type="submit"]{padding:6px 12px;background:#017ebc;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#d1d5d0));background: -moz-linear-gradient(top, #f4f4f4, #d1d5d0 8%); border-radius:2px; border:#afafba solid 1px; color:#444557; margin-right:5px; cursor:pointer}
input[type="button"]{padding:6px 12px;background:#017ebc;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#d1d5d0));background: -moz-linear-gradient(top, #f4f4f4, #d1d5d0 8%); border-radius:2px; border:#afafba solid 1px; color:#444557; margin-right:5px; cursor:pointer}
input[type="button"]:hover,input[type="submit"]:hover{background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#d4d8d3), to(#afafba));background: -moz-linear-gradient(top, #d4d8d3, #afafba 8%); border-radius:2px; border:#999 solid 1px; color:#444557; margin-right:5px;}
input[type="reset"]{padding:6px 12px;background:#017ebc;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#d1d5d0));background: -moz-linear-gradient(top, #f4f4f4, #d1d5d0 8%); border-radius:2px; border:#afafba solid 1px; color:#444557; margin-right:5px;}
select{color:#999; border:#dddddd solid 1px;height:30px;padding:0px 5px; border-radius:3px; border:#dddddd solid 1px; color:#666; background:url(select.png)  center right no-repeat #fff;padding-right:34px; overflow:hidden;}

input[operate="submit"]{padding:8px 30px;background:#0cbdff;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#52b3fe), to(#49b0ff));background: -moz-linear-gradient(top, #52b3fe, #49b0ff 8%);background: -ms-linear-gradient(top, #52b3fe, #49b0ff 8%); border-radius:2px; border:#0cbdff solid 1px; color:#444557; margin-right:5px; cursor:pointer;box-shadow: 2px 2px 2px #888888;text-transform: uppercase;text-shadow: 1 1 2px #fff;letter-spacing:2px; color:#fff;}
input[type='color']{ position:relative;top:-2px; width:20px;}
input[type='text'],input[type='password'],input[type='number'],input[type='color']{padding:6px 4px;background:#fff;color:#666; height:16px; line-height:16px;border-top:#ddd solid 1px;border-left:#ddd solid 1px;border-bottom:#ddd solid 1px;border-right:#ddd solid 1px; resize:none; border-radius:3px;}
input[type='text']:focus,input[type='password']:focus,input[type='number']:focus,input[type='color']:focus{ border:#bbb solid 1px;}
.inputtext{padding:6px 4px;background:#fff;color:#666; height:16px; line-height:16px;border-top:#ddd solid 1px;border-left:#ddd solid 1px;border-bottom:#ddd solid 1px;border-right:#ddd solid 1px; resize:none; border-radius:3px;}
textarea{overflow:scroll; overflow-x:hidden;padding:7px 4px;background:#fff;color:#333; height:16px; line-height:16px;border-top:#bbbbbb solid 1px;border-left:#bbbbbb solid 1px;border-bottom:#bbbbbb solid 1px;border-right:#bbbbbb solid 1px; resize:none; border-radius:3px;}
textarea:focus{border:#bbb solid 1px;}
/***************************************************************************************
*单选多选按钮
****************************************************************************************/
input[type="radio"]{width:14px; height:14px; border-radius:50%; position:relative;top:3px; margin-right:5px; border:#ccc solid 1px;}
input[type="radio"]:checked{ border:#1e94d4 solid 1px;}
input[type="radio"]:checked:after{ content:''; display:block; position:absolute;left:2px;top:2px; width:8px;height:8px; background:#1e94d4; border-radius:50%;}
/***************************************************************************************
*浮选框
****************************************************************************************/
input[type="checkbox"]{width:14px; height:14px; position:relative;top:3px; margin-right:5px; border:#ccc solid 1px;}
input[type="checkbox"]:checked{ border:#1e94d4 solid 1px;}
input[type="checkbox"]:checked:after{ content:''; display:block; position:absolute;left:2px;top:2px; width:8px;height:8px; background:#1e94d4;}
/***************************************************************************************
*设置滑块滚动样式
****************************************************************************************/
input[type=range] {-webkit-appearance: none; width: 100%; height:14px; background:#fff; border:#aaaaaa solid 1px; border-radius:12px; margin:0px;position:relative; overflow:hidden;}   
input[type=range]:focus {outline: none;}   
input[type=range]::-webkit-slider-runnable-track{width:100%; height:16px;}   
input[type=range]::-webkit-slider-thumb{ width:18px; height:18px; background:#eeeeee; border-radius:2px;-webkit-appearance: none;border:#d3d3d3 solid 1px; margin-top:-1px;}
input[type=range]::-webkit-track {width: 100%;cursor:pointer;animate: 0.2s;background:#fff;border-color:transparent;;color:transparent;}
input[type=range]::-webkit-runnable-lower {background:#e3e3e3;height:18px;}   
input[type=range]::-webkit-runnable-upper {background: #fff;}
input[type=range]::-moz-range-track {width: 100%;cursor:pointer;animate: 0.2s;background:#fff;border-color:transparent;;color:transparent;}   
input[type=range]::-moz-range-thumb {width:18px; height:18px; background:#eeeeee; border-radius:2px;-webkit-appearance: none;border:#d3d3d3 solid 1px; margin-top:-1px;}   
input[type=range]::-ms-track {width: 100%;cursor:pointer;animate: 0.2s;background:#fff;border-color:transparent;;color:transparent;}
input[type=range]::-ms-fill-lower {background:#e3e3e3;height:18px;}   
input[type=range]::-ms-fill-upper {background: #fff;}
input[type=range]::-ms-thumb {width:18px; height:18px; background:#eeeeee; border-radius:2px;-webkit-appearance: none;border:#d3d3d3 solid 1px; margin-top:0px;}
input[type=range]:focus::-ms-fill-lower { background: #e3e3e3;height:18px;}   
input[type=range]:focus::-ms-fill-upper{background: #fff;}
input[type=range]:after{ content:"" attr(text) "";; display:block; position:absolute;height:20px;top:22px; width:100%; color:#999;}
div[operate="range"]{ display:block; position:relative; height:36px; overflow:hidden;}
div[operate="range"] input[operate="text"]{ position:absolute; width:60px; text-align:center;padding:0px; height:24px; line-height:24px;}
div[operate="range"] input[operate="range"]{ position:absolute;left:70px;top:6px; width:200px !important;}
div[operate="range"]:after{ content:""attr(max)"";; display:block; position:absolute;position:absolute;left:280px; width:60px; border-radius:12px;top:2px;background:#fff; border-radius:2px; border:#bbbbbb solid 1px; color:#444557; margin-right:5px; cursor:pointer;height:24px; line-height:24px; text-align:center; font-size:14px;}
#Paging{ position:fixed; display:block; width:100%; height:36px; text-align:center;left:0px; bottom:0px; background:#f4f4f4;padding-top:4px; border-top:#ccc solid 1px;}
.fenyePageBar{ clear:both; margin:0px auto; width:100%;padding-top:3px;}
.fenyePageBar a{padding:6px 12px; color:#444557 !important; border:#ccc solid 1px; margin-right:8px; font-weight:100 !important; background:#fff; border-radius:2px;}
.fenyePageBar select{height:26px !important; border:#ccc solid 1px; position:relative;right:0px;top:1px; color:#444557 !important;border-radius:2px; margin-right:8px; line-height:10px; clear:both;}
.fenyePageBar a:hover,.fenyePageBar a.current_page{ border:#c6244b solid 1px; background:#c6244b; color:#fff !important}
#frm-page-bar{ position:fixed; width:100%; height:36px; padding:3px 0px; bottom:0px;left:0px; text-align:center; border-top:#ccc solid 1px; background:#f4f4f4}
a.vbtn{-webkit-border-radius:0px;-border-radius:0px; background:#079099 no-repeat;color:#FFF !important;text-align:center;padding:5px 5px; margin-right:5px;}
a.vbtn:hover{background:#007b83;color:#FFF;}
a.vbtnRed{-webkit-border-radius:0px;-border-radius:0px;background:#900;color:#FFF !important;text-align:center;padding:5px 5px; margin-right:5px;}
input.title{ background:url(rule.gif) repeat-x bottom left;}
meter { -webkit-appearance: none; }
meter::-webkit-meter-bar {height: 1em;background: white;border: 1px solid black;}
meter::-webkit-meter-optimum-value { background: green; }	/* 好 */
meter::-webkit-meter-suboptimum-value { background: orange; }	/* 凑合 */
meter::-webkit-meter-even-less-good-value { background: blue; }	/* 糟糕 */
meter::-moz-meter-bar {background: rgba(0,96,0,.6);}
div[operate="spacing"]{ clear:both; font-size:0px; height:50px;}
/**************************************************************************************************
*弹出小窗口页面上下菜单信息
***************************************************************************************************/
div[operate="headerMenu"]{clear:both; font-size:0px; height:54px;}
#frm-headerMenu{ clear:both; width:100%; height:40px; position:fixed; z-index:99; background:#222;border-top:#666 solid 1px;left:0px;top:0px; line-height:40px;padding:4px 12px;padding-top:8px;}
#frm-headerMenu input.button{ border-radius:0px; background:#fff;padding:4px 12px;}
div[operate="footerMneu"]{clear:both; font-size:0px; height:54px;}
#frm-footerMenu{ clear:both; width:100%; height:40px; position:fixed; z-index:99; background:#000;;border-top:#000 solid 1px;left:0px;bottom:0px; line-height:40px;padding:4px 12px;padding-top:8px;}
/**************************************************************************************************
*列表tab信息
***************************************************************************************************/

#frm-list{ width:100%;margin:0px auto; clear:both; border-radius:3px; background:#fff;}
#frm-list tr.search{ background:#f7f6f2;}
#frm-list tr.search td{padding:5px 4px !important;}
#frm-list tr.xingmu th{ text-align:left; color:#333333; font-weight:bold;padding:8px 10px; height:22px; background:#f2f1ea; font-weight:100;}
#frm-list tr.base{ background:#e8e7e2; text-align:left;}
#frm-list tr.base th{ text-align:left;padding:8px 10px; height:22px;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f2f1ea), to(#e8e7e2));background: -moz-linear-gradient(top, #f2f1ea, #e8e7e2 8%);background: -ms-linear-gradient(top, #f2f1ea, #e8e7e2 8%); font-weight:100;}
#frm-list tr.hback{ background:#fff; color:#666}
#frm-list tr.hback:hover{ background:#f4f4f4; color:#666}
#frm-list tr.hback td{padding:8px 10px; text-align:left; height:22px;}
#frm-list tr.hback td a{ color:#0099FF}
#frm-list tr.pager td{ padding:5px 10px;padding-bottom:12px; text-align:left; background:#f7f6f2;}
#frm-list tr.search td{ padding:8px 12px;}
#frm-list tr.operback td{padding:8px 12px; background:#e8e7e2; text-align:left;}
#frm-list td.number{ color:#cd0000;}
#frm-list td[operate="cmd"] a{ margin-right:8px; color:#000}
#frm-list td[operate="cmd"] img{ width:22px; height:22px; vertical-align:middle;}
#frm-list tr.hback td[operate="number"]{ color:#990000;}
#frm-list tr.hback td[operate="operate"]{ background:#f0f0f0;}
#frm-list tr.hback td[operate="operate"] a{background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#d1d5d0));background: -moz-linear-gradient(top, #f4f4f4, #d1d5d0 8%); background: -ms-linear-gradient(top, #f4f4f4, #d1d5d0 8%); padding:6px 8px;border-radius:2px; border:#afafba solid 1px; color:#444557; margin-right:5px;}
#frm-list tr.hback td[operate="operate"] a:hover{ color:#cd0000; border:#cd0000 solid 1px;}
#frm-list tr.hback td input{ padding:3px !important;}
#frm-list tr#frmSelector{ background:#e6ffe7; color:#990000}
#frm-list td[affairs="0"]{ color:#cd0000 !important}
#frm-list td[affairs="1"]{ color:#009900 !important}


#frm-input{ width:96%; margin:0px auto; border-collapse:collapse; clear:both; border-radius:3px;background:#fff;}
#frm-input tr.xingmu td,#frm-input tr.xingmu th{padding:6px 6px;font-weight:500;text-align:left; color:#00abea; height:22px; font-size:14px; border-bottom:#00abea solid 1px;}
#frm-input tr.hback{ background:#fff;}
#frm-input tr.hback td.spacing{ width:10px; font-size:10px;}
#frm-input tr.hback td{padding:6px 6px; text-align:left; height:22px; color:#666;}
#frm-input tr.hback:hover td{}
#frm-input tr.pager td{ padding:12px 0px; text-align:left;}
#frm-input tr.search td{ padding:8px 12px;}
#frm-input tr.operback{ background:#fff}
#frm-input tr.operback td{padding:6px 6px;text-align:left;}
#frm-input td.tips{ text-align:right !important; background:#f2f1ea; font-size:12px; color:#000;}
#frm-input td span{ color:#999; margin-left:5px;}
#frm-input td table.uploader td{padding:0px !important;}{padding:0px 0px !important;}

div[operate="frmUpload"]{ display:block; width:100px; height:100px; position:relative; border-radius:4px; border:#ccc solid 1px; background-repeat:repeat; background-position:center; background-size:100%;}
div[operate="frmUpload"]:before{ content:''; width:2px; height:80px;left:49px;top:10px; position:absolute; background:#ddd; display:block;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
div[operate="frmUpload"]:after{ content:''; height:2px; width:80px;top:49px;left:10px; position:absolute; background:#ddd; display:block;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
div[operate="frmUpload"] input[type="file"]{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;display:block; width:100px !important; height:100px !important; position:absolute;left:0px;top:0px;-webkit-appearance:none;-moz-appearance:none;padding:0px !important; border:0px !important; }

#frm-bottom-strip{position:fixed; width:100%; height:40px; line-height:40px; background:#f0f0f0; border-top:#ccc solid 1px;bottom:0px;left:0px;padding-top:5px; text-align:right;}
#frm-bottom-strip input[type="submit"]{}
#frm-bottom-strip input[type="reset"]{}
/**************************************************************
*选择商品数据列表信息
***************************************************************/
#frm-tabs{ margin:0px auto; clear:both; background:#f0f0f0; width:100% !important}
#frm-tabs tr.header th{ background:#fafafa; text-align:left;padding:4px 8px; height:20px;}
#frm-tabs tr.selector{ background:#fff;}
#frm-tabs tr.selector td{text-align:left; padding:4px 8px;}
#frm-tabs tr.selector td input{ width:90%;clear:both; border:0px; height:20px; line-height:20px;padding:2px 5px; background:#fcfcfc; border-radius:0px; border:#d0d0d0 solid 1px;}
#frm-tabs tr.selector td input[type="number"]{ clear:both; width:80px; text-align:center; border:0px;height:20px; line-height:20px;padding:2px 0px; background:#fcfcfc; border-radius:0px; border:#d0d0d0 solid 1px;}

/**************************************************************
*设置表格延伸样式
***************************************************************/
td[operate="shrink"],th[operate="shrink"]{-webkit-touch-callout:none;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;-webkit-user-drag: none; text-decoration:none;moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none; position:relative;padding-left:24px !important;}
td[operate="shrink"]:after,th[operate="shrink"]:after{ background:url(aa.png) no-repeat;width:14px; height:14px; content:''; background-size:14px; position:absolute;left:6px;top:12px; display:block;}
td[shrink="true"]:after,th[shrink="true"]:after{ background:url(--.png) no-repeat;background-size:14px; }

/*弹出菜单DIV样式*/
.CommonModalMask{ position:fixed;opacity:0.4;filter: alpha(opacity=40);background-color:#cccccc;z-index: 200;top: 0px;left: 0px;width: 100%;height:100%;display:none;}
.CommonModal{border:#5988c3 solid 5px;;background-color: #eeeeee;}
.CommonModalTitle{height:27px;line-height:27px;color:#FFF;font-weight:900;font-size:12px;padding-left:12px;position: relative;z-index: 203;cursor:move;text-align:left;color:#5988c3}
.CommonModalClose{width: 23px;height: 23px;background-image: url(Close.gif);background-repeat: no-repeat;overflow: hidden;cursor: pointer;float: right;margin-top:4px;}
.CommonModalContent{background-color: #ffffff; padding:0px 0px;}
.CommonModalContent div.FookeModalContentBox{overflow:hidden; width:100%;height:100%;margin:0px auto;}
.CommonModalFooter{border-style: solid;border-width: 0px;border-top-width: 1px;border-color: #FFFFFF;background-color: #FFFFFF;padding: 0px;height:0px;}
.CommonModalFooterAlert{height:32px; background:#fcfcfc; border-top:#ececec solid 1px; text-align:center; line-height:32px;padding-top:6px; text-align:right;}
.CommonModalFooterAlert input.button{ height:24px !important;padding:2px 0px !important; background:url(btn_bg.png) repeat-x top !important;width:72px !important; font-size:13px !important; font-weight:900 !important;color:#FFF !important; border:#F60 solid 1px !important; font-family:"宋体" !important; cursor:pointer !important; margin-right:8px !important;}
.CommonModalFooterAlert input.button:hover{background:url(btn_bg.png) repeat-x 0px -30px !important;}
.CommonModalResize{width: 0px;height: 0px;font-size:0px;}
.tips-box{border:#F90 solid 1px; background:#FFC;padding:5px 8px}
.LabelList{margin:0px;padding:0px;}
.LabelList li{float:left;height:80px;text-align:center;margin:8px;padding:8px;width:100px;}
#LabelLi{background:#ececec;position:relative;float:left;height:80px;
text-align:center;margin:8px;padding:8px;width:100px;}
#LabelContent{border:#c0c0c0 solid 1px;width:800px;height:125px; background:#FFF;padding:5px; overflow:scroll;overflow-x:hidden; outline:none; color:#0033CC; background:#fefefe; line-height:24px; font-size:14px;}
.showcolumns{clear:both;moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.showcolumns a{ display:block; float:left; margin-right:5px;background:#f0f0f0; cursor:pointer;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#d1d5d0));background: -moz-linear-gradient(top, #f4f4f4, #d1d5d0 8%); border-radius:2px; border:#afafba solid 1px; color:#333; padding:5px 8px;}
.showcolumns a:hover{background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#d4d8d3), to(#afafba));background: -moz-linear-gradient(top, #d4d8d3, #afafba 8%);}
.attention{ background:#ffc; border:#f00 solid 1px; line-height:22px;}
/***************************************************************************
显示正在请求的延时操作
*****************************************************************************/
#frm-copy-success{ position:fixed; width:160px; height:30px; line-height:30px; text-align:center; background:rgba(0,0,0,0.65); color:#fff; border-radius:5px;left:calc((100% - 160px) / 2);left:-moz-calc((100% - 160px) / 2);left:-webkit-calc((100% - 160px) / 2);top:calc((100% - 30px) / 2);top:-moz-calc((100% - 30px) / 2);top:-webkit-calc((100% - 30px) / 2);}

#frm-alert{position:fixed; width:160px; height:30px; line-height:30px; text-align:center; background:rgba(0,0,0,0.65); color:#fff; border-radius:5px;left:calc((100% - 160px) / 2);left:-moz-calc((100% - 160px) / 2);left:-webkit-calc((100% - 160px) / 2);top:calc((100% - 30px) / 2);top:-moz-calc((100% - 30px) / 2);top:-webkit-calc((100% - 30px) / 2);}
#frm-alert[success="true"]{position:fixed; width:160px; height:30px; line-height:30px; text-align:center; background:rgba(0,0,0,0.65); color:#fff; border-radius:5px;left:calc((100% - 160px) / 2);left:-moz-calc((100% - 160px) / 2);left:-webkit-calc((100% - 160px) / 2);top:calc((100% - 30px) / 2);top:-moz-calc((100% - 30px) / 2);top:-webkit-calc((100% - 30px) / 2);background:#f9ffef; border:#c5dd9e solid 1px; color:#6dac00}

/***************************************************************************
显示正在请求的延时操作
*****************************************************************************/
#frm-delay-alert-contianer{position:fixed; width:400px; border-radius:3px; height:46px; background:rgba(0,0,0,0.85);left:calc((100% - 400px) / 2);left:-moz-calc((100% - 400px) / 2);left:-webkit-calc((100% - 400px) / 2);top:calc((100% - 46px) / 2);top:-moz-calc((100% - 46px) / 2);top:-webkit-calc((100% - 46px) / 2); display:none;}

#frm-delay-alert-contianer[success="false"]{ background:#333; border:#000 solid 1px;}
#frm-delay-alert-contianer[success="true"]:before{position:absolute;top:5px; height:36px; text-align:center; content:""; font-size:20px; background:url(frmtrue.png) center center no-repeat #fff; background-size:36px; width:36px; height:36px; text-align:center; line-height:36px; border-radius:50%; font-family:"Courier New", Courier, monospace; left:5px; color:#000; font-weight:bold;}
#frm-delay-alert-contianer[success="false"]:before{position:absolute;top:5px; height:36px; text-align:center; content:"×"; font-size:20px; background:url(frmfalse.png) center center no-repeat #fff; width:36px; height:36px; text-align:center; line-height:36px; border-radius:50%; font-family:Geneva, Arial, Helvetica, sans-serif; left:5px; color:#000; font-weight:bold;}

#frm-delay-alert-contianer:after{width:320px; height:24px; line-height:24px; text-align:left; color:#fff; content:attr(text); position:absolute;left:50px;top:12px; font-size:14px;}

#frm-dealy-submit-box{ position:fixed; width:145px; border-radius:3px; height:80px; background:rgba(0,0,0,0.85);left:calc((100% - 145px) / 2);left:-moz-calc((100% - 145px) / 2);left:-webkit-calc((100% - 145px) / 2);top:calc((100% - 80px) / 2);top:-moz-calc((100% - 80px) / 2);top:-webkit-calc((100% - 80px) / 2);}
#frm-dealy-submit-box:before{ background:url(load/load.gif) center center no-repeat; position:absolute; width:100%;top:8px; height:40px; text-align:center; content:""; background-size:40px;}
#frm-dealy-submit-box:after{width:100%; background:#000; height:24px; line-height:24px; text-align:center; color:#fff; content:"Loading..."; position:absolute;left:0px;bottom:0px;}

.dialog-box{ background:#f0f0f0 !important;padding:0px;}
#frm-calendar-box{ width:100%; clear:both; font-size:12px; background:#f0f0f0;}
#frm-calendar-box th{ font-weight:100;padding:12px 0px; text-align:center; background:#fff;}
#frm-calendar-box td{ background:#fff;padding:0px !important; height:40px;}
#frm-calendar-box td[yueding=true]{ background:#790000; position:relative;}
#frm-calendar-box td[yueding=true]:after{ content:'已约'; text-align:center; width:100%; height:40px; position:absolute;left:0px;top:0px; line-height:40px; color:#fff;}
#frm-calendar-box td[index="1"]{ background:green; position:relative;}
#frm-calendar-box td[index="1"]:after{ content:'约定'; text-align:center; width:100%; height:40px; position:absolute;left:0px;top:0px; line-height:40px; color:#fff;}
/****************************************************************************************
*左边导航栏窗口样式
******************************************************************************************/
#frm-header-contianer{width:170px; margin:0px auto; clear:both; position:fixed;top:20px;left:20px; font-size:12px;padding:12px 0px;}
#frm-spacing{ height:120px;}
#frm-header-contianer h2{color:#222; font-size:18px;}
#frm-menu-contianer{ clear:both; width:164px; margin:0px auto; overflow:hidden; background:#fbfbfb;border:#ccc solid 1px; outline:none;outline:0; list-style-type:none;list-style:none;-webkit-tap-highlight-color:transparent;text-decoration:none;-webkit-touch-callout:none;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;-webkit-user-drag: none; text-decoration:none;moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
#frm-menu-contianer div.frmMenu{ clear:both; width:100%; overflow:hidden;}
#frm-menu-contianer div.frmMenu div.frmTitle{ clear:both; width:100%; height:32px; line-height:32px;margin-top:0px;height:30px;font-size:12px;font-weight:bold;color:#444557;line-height:30px;padding:3px 5px !important;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f7f6f2), to(#e8e7e1));background: -moz-linear-gradient(top, #fefefe, #f0f0f0 8%);border-bottom:#c0c9cf solid 1px; position:relative; cursor:pointer;}
#frm-menu-contianer div.frmMenu div.frmItems{ clear:both;padding:5px 5px; width:100%; display:none;}
#frm-menu-contianer div.frmMenu div.frmItems a{display:block; width:100%; height:24px; line-height:24px; margin:0px auto; clear:both; padding-left:12px; cursor:pointer;}
/****************************************************************************************
*处理后台提醒消息
******************************************************************************************/
#frm-box-tips-message{ position:fixed;right:0px;bottom:0px; width:320px; height:162px; border:#898989 solid 5px; z-index:1000; background:#fff;}
#frm-box-tips-message:after{ position:absolute;top:0px;width:98%; height:32px; line-height:32px; content:'系统消息'; background:#bcbcbc;padding-left:2%;;}
#frm-box-show-content{ position:absolute; top:36px; width:96%; height:124px; overflow:scroll; margin-left:2%; overflow-x:hidden;}
#frm-box-show-content a{ display:block; width:96%; height:26px; line-height:26px; border-bottom:#ddd solid 1px;}
#frm-box-close-btns{ position:absolute; width:20px; height:20px; border-radius:10px; background:#515151; color:#fff;right:8px;top:5px; z-index:100; line-height:20px; text-align:center; font-weight:900; font-family:Arial, Helvetica, sans-serif; font-size:24px; cursor:pointer;}
/****************************************************************************************
*异步处理消息提示信息
******************************************************************************************/
#frm-tipsbox{ border:#ffdfdf solid 1px; display:none; background:#fffbfb;padding:8px 8px; color:#cd0000;}
#frm-tipsbox[success="true"]{ background:#f9ffef; border:#c5dd9e solid 1px; color:#6dac00}
#frm-messager-alert{ display:block; position:fixed; width:98%; height:40px; background:#fffbfb; border-bottom:#ffdfdf solid 1px;top:0px;left:0px; z-index:999; line-height:40px;padding-left:2%; font-size:14px; color:#cd0000;animation: messagerAlertAnimation 0.8s;-moz-animation: messagerAlertAnimation 0.8s;-webkit-animation: messagerAlertAnimation 0.8s;-o-animation: messagerAlertAnimation 0.8s;}
@keyframes messagerAlertAnimation{from {height:1px;}to {height:40px;}}
@-moz-keyframes messagerAlertAnimation{from {height:1px;}to {height:40px;}}
@-webkit-keyframes messagerAlertAnimation{from {height:1px;}to {height:40px;}}
@-o-keyframes messagerAlertAnimation{from {height:1px;}to {height:40px;}}
#frm-messager-alert[success="true"]{ background:#f9ffef; border-bottom:#c5dd9e solid 1px; color:#6dac00;}
/****************************************************************************************
*显示小窗口展示墙
******************************************************************************************/
div[operate="daliyContianer"]{ position:fixed;background:#f7f6f2; width:580px; height:calc(100% - 80px);height:-webkit-calc(100% - 80px);height:(100% - 80px); right:0px;top:50px; border-left:#dfdfdf solid 1px;display:none;}
div[operate="daliyContianer"] iframe{width:100%; height:100%; position:absolute;left:0px;top:0px;}
div[operate="daliyContianer"][status='load']:after{ content:'Loading'; margin:0px auto; background:url(load/load.gif) no-repeat #000 center center; position:absolute;top:120px;left:50%;; display:block; width:80px; height:90px; text-align:center; background-size:46px 46px; border-radius:3px; color:#fff; line-height:160px;}
/****************************************************************************************
*显示小窗口展示墙2
******************************************************************************************/
div[operate="frmContianer"]{ position:fixed;background:#f7f6f2; width:580px; height:calc(100% - 0px);height:-webkit-calc(100% - 0px);height:(100% - 0px);right:0px;top:0px;border:#000 solid 3px;display:none; z-index:998; overflow:hidden;}
div[operate="frmContianer"] div[operate="frmTitle"]{position:absolute;left:0px;top:0px; height:50px; display:block; width:100%; background:#000; color:#fff; line-height:50px;padding-left:12px; font-weight:bold; cursor:pointer;}
div[operate="frmContianer"] div[operate="close"]{ position:absolute;right:12px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:20px; font-size:20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(zoomC.png) center center no-repeat;; background-size:20px; cursor:pointer;}
div[operate="frmContianer"] div[operate="zoom"]{position:absolute;right:40px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:18px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(zoomR.png) center center no-repeat;; background-size:20px; cursor:pointer;}
div[zoom="true"] div[operate="zoom"]{position:absolute;right:40px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:18px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(zoomL.png) center center no-repeat;; background-size:20px;}
div[operate="frmContianer"][zoom="true"]{width:calc(100% - 3px);width:-webkit-calc(100% - 3px);width:-moz-calc(100% - 3px);border-left:#000 solid 3px !important;}

div[operate="frmContianer"] div[operate="frameContianer"]{ position:absolute;left:0px;top:0px; width:100%;left:0%;top:50px; height:calc(100% - 80px);height:-webkit-calc(100% - 80px);height:(100% - 80px);}
div[operate="frmContianer"] iframe{width:100%; height:100%; position:absolute;left:0px;top:0px;}
div[operate="frmContianer"][status='load']:after{ content:'Loading'; margin:0px auto; background:url(load/load.gif) no-repeat #000 center center; position:absolute;top:120px;left:50%;; display:block; width:80px; height:90px; text-align:center; background-size:46px 46px; border-radius:3px; color:#fff; line-height:160px;}
/****************************************************************************************
*带下拉功能的文本框
******************************************************************************************/
div[operate="selector"]{height:30px;width:220px;line-height:30px;position:relative;}
div[operate="selector"] span[operate="storbtns"]{ display:block; position:absolute;right:11px;top:1px; height:30px; width:28px; border-left:#ddd solid 1px;}
div[operate="selector"] span[operate="storbtns"]:after{position:absolute;left:7px;top:11px;width: 0; height: 0;border-left: 6px solid transparent;border-top: 10px solid #444557;border-right: 6px solid transparent; content:''; cursor:pointer;}
/****************************************************************************************
*商品属性数量选择器
******************************************************************************************/
#frm-arrTabs{ width:100%; margin:0px auto; clear:both; background:#dfdfdf;}
#frm-arrTabs th{ background:#ecebe5; text-align:left;padding:8px 5px;}
#frm-arrTabs td{ background:#fff; text-align:left;padding:8px 5px;}
#frm-arrTabs td input{ width:60px; line-height:24px; height:24px;padding:0px; text-align:center;}
/****************************************************************************************
*框架页面处理器
******************************************************************************************/
#frm-storContianer{ width:100%; border:0px; clear:both; overflow:scroll;overflow-x : hidden ;height:600px; }
/****************************************************************************************
*内容页半侧弹框
******************************************************************************************/
#frm-windows{ width:100%; background:#f7f6f2; position:fixed;left:0px;top:0px; border:#000 solid 4px;height:100%; overflow:hidden;width:calc(100% - 8px);width:-webkit-calc(100% - 8px);width:(100% - 8px);;}
#frm-windows:after{ content:''attr(title)''; background:#000; display:block; width:100%; position:absolute;left:0px;top:0px; height:20px; color:#fff; font-size:12px; font-weight:bold; height:46px; line-height:46px;padding-left:12px; z-index:-999;}
#frm-menu-title{ display:block; width:100%; height:100%; position:absolute;left:0px;top:0px; line-height:46px;padding-left:0px;}
#frm-menu-title a{ color:#999; font-size:12px !important; font-weight:bold;border-radius:2px; margin-left:8px;}
#frm-menu-title a.current{color:#fff;}
#frm-windows[zoom="true"]{ width:100% !important;}
#frm-windows[zoom="true"] #frm-windows-zoom{ position:absolute;right:40px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:18px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(zoomL.png) center center no-repeat;; background-size:20px; cursor:pointer;}
#frm-windows-contianer{ position:absolute; width:100%; height:calc(100% - 74px);height:-webkit-calc(100% - 74px);height:-moz-calc(100% - 74px);; height:;top:46px;left:0px; overflow:scroll;}
#frm-windows-close{ position:absolute;right:12px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:20px; font-size:20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(zoomC.png) center center no-repeat;; background-size:20px; cursor:pointer;}
#frm-windows-zoom{ position:absolute;right:40px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:18px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(zoomR.png) center center no-repeat;; background-size:20px; cursor:pointer;}
#frm-windows-refre{ position:absolute;right:68px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:18px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(refre2.png) center center no-repeat;; background-size:20px; cursor:pointer;}
#frm-windows-history{ position:absolute;right:96px;top:12px; color:#333; height:24px;width:24px; text-align:center; line-height:18px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(history.png) center center no-repeat;; background-size:20px; cursor:pointer;}
/****************************************************************************************
*网站其他样式信息
******************************************************************************************/
#frmDistop{ display:block; width:100%; z-index:99; position:fixed; height:50px; clear:both;left:0px;top:0px; background:#000}
#frmDistopMenu{ display:block; width:1120px; clear:both; color:#FFF; margin:0px auto;height:50px; position:relative;}
#frmDistopAcc{ display:block; position:absolute;right:0px;top:18px;}
#frmDistopAcc a{ color:#FFF; font-size:13px; font-family:"Times New Roman", Times, serif; margin:0px 5px;}
#frmHeader{ clear:both; display:block; width:100%; background:#FFF; height:90px; overflow:hidden;}
#frmHeadermain{ width:1120px; margin:0px auto; height:110px; clear:both; overflow:hidden; position:relative;}
#frmLogo{ position:absolute;left:0px;top:15px;}
#frmMenuList{ position:absolute;right:0px;top:30px; font-size:16px; font-family:"Times New Roman", Times, serif;}
#frmMenuTabs tr td.menuName{ padding:8px 20px;}
#frmMenuTabs tr td.current{background:#0d4c8b !important;}
#frmMenuTabs tr td.current a{ color:#FFF;}


#frmFooter{ display:block; width:100%; border-top:#fff solid 1px;padding:8px 0px; clear:both; overflow:hidden;}
#Footermain{ display:block; width:1120px; height:120px; position:relative; margin:0px auto; clear:both; overflow:hidden;}
#Footerlogo{ display:block; position:absolute;top:20px;left:0px; width:146px; height:60px; background:url(logo.png) center center no-repeat}
#FooterText{ display:block; position:absolute; left:180px;top:10px; line-height:20px; color:#828282; clear:both;}
#FooterText div{ clear:both; width:100%; text-align:left;padding:2px 0px;}
/****************************************************************************************
*当前位置
******************************************************************************************/
#dirPosition{ display:block; width:1120px; margin:0px auto; clear:both; height:40px; position:relative; font-family:"宋体";}
#dirPosition #dirIco{ display:block; background:url(dir.png) center center no-repeat; width:24px; height:24px; position:absolute;top:8px;left:0px;}
#dirPosition #dirText{ position:absolute; color:#01acdf; position:absolute;left:30px;top:13px;}
#dirPosition #dirText a{  color:#01acdf;}
#contianer{ display:block; width:1120px; margin:0px auto; clear:both; overflow:hidden;}
#contianer #contianerLeft{ display:block; float:left; width:280px; background:#f5f5f5}
#contianer #contianerRight{ float:right; display:block; background:#fff; width:820px; overflow:hidden;}

