<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>数据维护</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
<script language="javascript" src="inc/jquery.defend.js"></script>
<style type="text/css">
#frm-columns{-moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
#frm-columns a{padding:8px 12px;background: -ms-linear-gradient(top, #f4f4f4, #d1d5d0 8%);background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#d1d5d0));background: -moz-linear-gradient(top, #f4f4f4, #d1d5d0 8%); border-radius:2px; border:#afafba solid 1px; color:#444557; margin-left:8px; cursor:pointer; margin-top:8px; float:left;}
#frm-columns a:hover{background: -ms-linear-gradient(top, #f4f4f4, #a0a0a0 8%);background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f4f4f4), to(#a0a0a0));background: -moz-linear-gradient(top, #f4f4f4, #a0a0a0 8%);border:#a0a0a0 solid 1px;}
</style>
</head>
<body>
<div class="tips_menu_bar">
<a href="?action=default">语句列表</a>
<a href="?action=add">添加语句</a>
<a class="current">执行维护语句</a>
<a href="?action=text">执行SQL语句</a>
</div>
<div class="clear" id="FRMSpacing"></div>
<form id="frm-submit-forms" target="frmFrame" action="?action=runText" onSubmit="return _doPost(this)" method="post">
<input type="hidden" name="DefendID" value="{ke.function.defendid/}" />
<table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr>
<td class="Base" colspan="3">数据维护 >> 执行维护语句</td>
</tr>
<tr operate="system" class="hback">
<td class="tips">维护名称</td>
<td colspan="2"><strong style="color:#f00">{ke.function.defendName/}</strong></td>
</tr>

<tr operate="system" class="hback" style="background:#f0f0f0">
<td class="tips">执行语句</td>
<td style="width:550px;background:#fff;word-break:break-all; line-height:20px; color:#008080; font-size:14px; font-family:'宋体';">{ke.function.defendText/}
</td>
<td valign="top" style="padding:0px;">
{ke.function.agrs/}
</td>
</tr>
<tr class="hback">
<td class="tips">表格文件名称</td>
<td colspan="2" class="check_box">
<input type="text" name="Excelname" id="frm-Excelname" placeholder="请填写要保存的Excel名称" class="inputtext" size="30" />
<label><input type="checkbox" value="1" name="isExcel" id="frm-isExcel" />将执行结果保存为Excel</label>
</td>
</tr>
<tr class="xingmu">
<td></td>
<td colspan="2">
<input type="button" id="frm-button" value="立即执行维护语句" class="button"/>
</td>
</tr>
<tr>
<td class="Base" operate="shrink" shrink="true" text="result" colspan="3">数据维护 >> 执行结果</td>
</tr>
<tr operate="result" class="hback" style="background:#f0f0f0">
<td colspan="3" style="padding:0px;">
<iframe width="100%" height="300" name="frmFrame" scrolling="auto" frameborder="0"></iframe>
</td>
</tr>

</table>
</form>
</body>
</html>
<script language="javascript">
$("#frm-button").click(function(){
	if(this.form!=undefined && this.form!=null){
		if(_doPost(this.form)){
			this.form.submit();
			return false;
		}
	}
});
</script>