<!DOCTYPE html>
<html>
<head>
<title>修改交易密码</title>
<meta name="description" content="{ke.config(siteDescrption)/}" />
<meta name="keywords" content="{ke.config(sitekeywords)/}" />
<meta name="application-name" content="{ke.config(sitename)/}"/>
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="template/images/style.css?{timestamp}" rel="stylesheet" type="text/css" >
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="inc/sweet/sweetalert.css?{timestamp}" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/sweet/sweetalert.js?{timestamp}"></script>
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery.form.js?{timestamp}"></script>
<script language="javascript" src="inc/forwork.js?{timestamp}"></script>
</head>
<body>
<div id="frm-header">
	<div id="frm-headerHistory" onClick="history.go(-1)"></div>
	<div id="frm-headerName">修改交易密码</div>
	<div id="frm-headerMenu"></div>
</div>
<div id="frm-spacing"></div>
<div id="MAINContianer">
<form id="frm-formContianer" method="post" action="Home.aspx" onSubmit="return _doPost(this)">
<input type="hidden" name="action" value="savepasswordto" />
<table id="frm-input" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="hback">
<td class="spacing"></td>
<td style="width:80px" class="name">新支付密码</td>
<td class="value"><input type="text" notkong="true" class="inputtext" placeholder="请设置您的新密码" id="frm-Password" name="Password" value="" /></td>
</tr>

<tr class="hback">
<td></td>
<td class="name">确认密码</td>
<td class="value"><input type="text" notkong="true" class="inputtext" placeholder="请确认您的新密码" name="SurePassword" id="SurePassword" value="" /></td>
</tr>
{ke.if("{ke.function.isFirst/}"=="0")}
<tr class="hback">
<td></td>
<td style="width:80px;" class="name">短信验证码</td>
<td class="value" style="padding:0px;">
<div style="position:relative;width:100%;top:0px; height:32px;">
<input type="tel" notkong="true" style="width:80px;left:4px;position:absolute;right:8px;" placeholder="填写验证码" name="captcha" value="" /><input type="button" notkong="true" operate="captcha" id="frm-captcha" style="position:absolute;right:8px;top:4px; border-radius:4px;padding:3px 4px; background:#81b8f1;color:#fff;" value="获取验证码" url="Home.aspx?action=message" />
</div>
</td>
</tr>
{/ke.if}

<tr class="operback">
<td colspan="3">
<input type="button" value="确认保存" operate="submit" id="frm-submit" />
</td>
</tr>
</table>
</form>
</div>
<div style="display:block; clear:both; font-size:0px;height:0px;"></div>
{ke.include(template/menu/footer.html?menu=user)/}
</body>
</html>