<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>兑换详情</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
<script language="javascript" src="inc/jQuery.pagebar.js"></script>
<script language="javascript" src="inc/Product.js"></script>
</head>
<body>
<div class="tips_menu_bar">
<a href="?action=default">兑换记录</a>
<a class="current">兑换详情</a>
</div>
<div class="clear" id="FRMSpacing"></div>
<table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr>
<td class="Base">兑换记录 >> 兑换详情</td>
<td class="Base">选择记录</td>
</tr>
<tr class="xingmu">
<td style="padding:0px; background:#f0f0f0" valign="top">
<iframe frameborder="0" width="100%" height="560" id="frm-order-edit" scrolling="yes" src="?action=edit&Id={ke.function.Id/}"></iframe>
</td>
<td width="460" style="padding:0px; background:#f0f0f0" valign="top">
<iframe width="100%" scrolling="auto" frameborder="0" height="560" src="Duiba.aspx?action=stor"></iframe>
</td>
</tr>
</table>
</body>
</html>
<script language="javascript">
var FindDuibaCallBack = function(JSON){
	if(JSON!=undefined && typeof(JSON)=='object'){
		$("#frm-order-edit").attr("src","?action=edit&id="+JSON["id"]);
	}
}
</script>
