<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>数据导出</title>
<link href="template/images/style.css?{timestamp}" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
</head>
<body>
<div class="tips_menu_bar">
<a href="?action=default">截图审核</a>
<a href="?action=excel" class="current">数据导出</a>
</div>
<div class="clear" id="FRMSpacing"></div>
<form id="frmForms" onSubmit="return _doPost(this);" action="appHot.aspx" method="post">
<input type="hidden" name="action" value="savexport" />
<table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr><td colspan="4" class="Base">截图审核 >> 导出数据</td></tr>
<tr class="hback">
<td style="width:80px" class="tips">开始时间</td>
<td style="width:200px">
<input placeholder="请选择开始日期" size="20" onClick="WdatePicker()" type="text" value="{ke.function.StarDate/}" name="StarDate" class="inputtext" />
</td>
<td valign="top" style="width:80px" rowspan="6" class="tips">
<div>导出字段</div>
<div style="color:#999; line-height:20px;">选择需要导出的数据字段信息,按住(ctrl+鼠标)可多选</div>
</td>
<td style="background:#fff" rowspan="6" valign="top">
<div style="height:240px;" id="strColums">
<label><input type="checkbox" value="UserID as 用户ID" name="strColumns" />用户ID</label>
<label><input type="checkbox" value="Nickname as 用户昵称" name="strColumns" />用户昵称</label>
<label><input type="checkbox" value="AppID as 应用ID" name="strColumns" />应用ID</label>
<label><input type="checkbox" value="Appname as 应用名称" name="strColumns" />应用名称</label>
<label><input type="checkbox" value="UnionModel as 渠道名称" name="strColumns" />渠道名称</label>
<label><input type="checkbox" value="DeviceType as 设备类型" name="strColumns" />设备类型</label>
<label><input type="checkbox" value="DeviceCode as 设备编号" name="strColumns" />设备编号(IDFA)</label>
<label><input type="checkbox" value="strIP as IP地址" name="strColumns" />IP地址</label>
<label><input type="checkbox" value="cityname as 归属城市" name="strColumns" />归属城市</label>
<label><input type="checkbox" value="strMobile as 手机号码" name="strColumns" />手机号码</label>
<label><input type="checkbox" value="strName as 联系人姓名" name="strColumns" />联系人姓名</label>
<label><input type="checkbox" value="hotXml as 图片集合" name="strColumns" />图片集合</label>
<label><input type="checkbox" value="isFinish as 是否完成" name="strColumns" />是否完成</label>
<label><input type="checkbox" value="Addtime as 抢夺时间" name="strColumns" />抢夺时间</label>
<label><input type="checkbox" value="LastDate as 完成时间" name="strColumns" />完成时间</label>
</div>
</td>
</tr>
</tr>

<tr class="hback">
<td class="tips">结束时间</td>
<td>
<input placeholder="请选择开始日期" size="20" onClick="WdatePicker()" type="text" value="{ke.function.EndDate/}" name="EndDate" class="inputtext" />
</td>
</tr>

<tr class="hback">
<td class="tips">选择渠道</td>
<td>
<input type="text" value="{ke.function.UnionModel/}" placeholder="不填写表示所有渠道" size="20" name="UnionModel" class="inputtext" />
</td>
</tr>

<tr class="hback">
<td class="tips">应用ID</td>
<td>
<input type="text" value="{ke.function.AppID/}" placeholder="导出app应用名称" size="20" name="AppID" class="inputtext" />
</td>
</tr>

<tr class="hback">
<td class="tips">应用名称</td>
<td>
<input type="text" value="{ke.function.Appname/}" placeholder="导出app应用名称" size="20" name="Appname" class="inputtext" />
</td>
</tr>

<tr class="hback">
<td class="tips">所在城市</td>
<td>
<input type="text" value="{ke.function.strCity/}" placeholder="筛选任务完成城市" size="20" name="strCity" class="inputtext" />
</td>
</tr>


<tr class="xingmu">
<td class="tips"></td>
<td colspan="3">
<input type="submit" id="frmSubmit" value="导出数据" class="button" />
</td>
</tr>

</table>
</form>
</body>
</html>