<language>
<zh>
<zh.钱包主页>钱包主页</zh.钱包主页>
<zh.钱包地址>钱包地址</zh.钱包地址>
<zh.钱包明细>钱包明细</zh.钱包明细>
<zh.能量管理>能量管理</zh.能量管理>
<zh.区块发送>区块发送</zh.区块发送>
<zh.算力账单>算力账单</zh.算力账单>
<zh.用户设置>用户设置</zh.用户设置>
</zh>
<en>
<en.钱包主页>Wallet home</en.钱包主页>
<en.钱包地址>Wallet address</en.钱包地址>
<en.钱包明细>Wallet details</en.钱包明细>
<en.能量管理>Energy management</en.能量管理>
<en.区块发送>Block send</en.区块发送>
<en.算力账单>Calculating power bill</en.算力账单>
<en.用户设置>User Settings</en.用户设置>
</en>
</language>
