<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>用户银行卡</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
</head>
<body>
<div class="tips_menu_bar">
<a href="bank.aspx?action=default" class="current">银行卡管理</a>
<a href="bank.aspx?action=add">添加银行卡</a>
<a href="bankModel.aspx?action=default">银行管理</a>
<a href="bankModel.aspx?action=add">添加银行</a>
<a href="config.aspx?action=bank">参数配置</a>
</div>
<div class="clear" id="FRMSpacing"></div>
{ke.function.list/}
</body>
</html>
