<div style="clear:both; width:100%; font-size:0px; height:20px;"></div>
<div id="frmFooter">
	<div id="Footermain">
		<div id="Footerlogo"></div>
		<div id="FooterText">
			<div id="FooterTextmenu">
				<a href="{app}/Index.aspx">首页</a>
				<a href="{app}/items/list.aspx?classId=10012">网点展示</a>
				<a href="{app}/items/list.aspx?classId=10000">新闻动态</a>
				<a href="{app}/Member/eKaoshi.aspx">进入考试</a>
				<a href="{app}/items/single.aspx?Identify=about">关于我们</a>
				<a href="{app}/single/contact.aspx">联系我们</a>
			</div>
			<div id="FooterTextmenu">
				<span>培训地址：遵义市茅草铺车站(加油站旁边)四楼</span>
				<span>遵义市深溪机动车考试中心旁7号门面</span>
			</div>
			<div id="FooterTextmenu">
				<span>培训电话：17716665808</span>
			</div>
			<div id="FooterTextmenu">
				Copyright &copy; 2017 遵义孝凤网络科技服务有限公司 版权所有 技术支持:<a href="http://www.zwang.com.cn">智网互联</a>
			</div>
		</div>
	</div>
</div>