<div style="clear:both; width:1005; font-size:0px; height:0px;"></div>
<div style="clear:both; width:100%; background:#fff;padding:8px 0px; overflow:hidden;">
	<h2 style="clear:both; width:96%; margin:0px auto; clear:both; border-bottom:#eee solid 1px;padding:2px 0px; color:#0099FF; font-size:13px; position:relative;height:30px;"><span style="position:absolute;left:8px;top:12px;">联系我们</span></h2>
	<div style="clear:both; display:block; width:96%; margin:0px auto; clear:both;padding:8px 0px; line-height:24px; color:#999;">
		<div>培训地址：遵义市茅草铺车站(加油站旁边)四楼</div>
		<div>培训地址：遵义市深溪机动车考试中心旁7号门面</div>
		<div>培训电话：17716665808</div>
		<div>电话咨询：13319396789   (毛孝凤) ，15085500808   (任松)</div>
	</div>
</div>
<div class="clear" style="height:12px"></div>
<div style="clear:both; display:block; width:100%;">
<a href="{app}/Member/eKaoshi.aspx"><img src="{app}/template/images/jrkc.png" style="width:280px" /></a>
</div>
<div class="clear" style="height:12px"></div>
<div style="clear:both; display:block; width:100%; background:#fff;">
<img src="{app}/template/images/qrcode.png" style="width:280px" />
</div>