<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>广告位管理</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>

<script language="javascript" src="inc/WdatePicker.js"></script>
</head>
<body>
<div class="tips_menu_bar">
<a href="?action=default" class="current">广告位管理</a>
<a href="?action=add">添加广告位</a>
<a href="?action=code">代码调用</a>
</div>
<div class="clear" id="FRMSpacing"></div>
{ke.function.list/}
</body>
</html>
