<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;" />
<title>修改密码</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
</head>
<body>
<div class="tips_menu_bar">
<a class="current">修改密码</a>
</div>
<div class="clear" id="FRMSpacing"></div>
<form id="frm-submit-forms" action="?action=editpassword" onSubmit="return _doPost(this)" method="post">
<table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr class="hback">
<td class="Base" colspan="2">帐号管理 >> 修改密码</td>
</tr>

<tr class="hback">
<td class="tips">旧密码</td>
<td>
<input type="Password" name="oldPassword" value="" placeholder="我的旧密码要填写在这里" notkong="true" class="inputtext" size="30"/>
<span>请输入上次登录密码</span>
</td>
</tr>

<tr class="hback">
<td class="tips">新密码</td>
<td>
<input type="Password" name="Password" placeholder="字母+数字+下划线" value="" notkong="true" class="inputtext" size="30"/>
<span>请为登录账号设置一个管理密码，长度6-16位</span>
</td>
</tr>

<tr class="hback">
<td class="tips">确认密码</td>
<td>
<input type="Password" name="Password1" placeholder="字母+数字+下划线" value="" notkong="true" class="inputtext" size="30"/>
<span>请再次输入密码</span>
</td>
</tr>

<tr class="hback">
<td class="tips"></td>
<td>
<input type="submit" value="保存信息" class="button"/>
<input type="button" operate="history" value="返回上一页" class="button"/>
</td>
</tr>

</table>
</form>

</body>
</html>