<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>在线留言-{ke.config(siteTitle)/}</title>
<meta name="keywords" content="{=setting(sitekeyword)}" />
<meta name="description" content="{=setting(sitedesc)}" />
<link href="{app}/images/style.css" type="text/css" rel="stylesheet" />
<script language="javascript" src="{app}/images/jquery.js"></script>
</head>
<body style="background:#FFF;">
{ke.include({app}/template/include/top.html)/}
<div class="main">
{ke.froms.code(10000)/}
</div>

</body>
</html>
