<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>提现申请参数配置</title>
    <link href="template/images/style.css" rel="stylesheet" type="text/css" />
    <link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="inc/jquery.js"></script>
    <script language="javascript" src="inc/jquery-ui.js"></script>
    <script language="javascript" src="inc/jquery.form.js"></script>
    <script language="javascript" src="inc/forwork.js"></script>
    <script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
    <script language="javascript" src="inc/WdatePicker.js"></script>
    <script language="javascript" src="inc/pinyin.js"></script>
</head>
<body>
    <div class="tips_menu_bar">
        <a href="Alipay.aspx?action=default">用户提现</a>
        <a href="Alipay.aspx?action=looker">查看详情</a>
        <a href="Alipay.aspx?action=computer">数据统计</a>
        <a href="config.aspx?action=alipay" class="current">参数配置</a>
    </div>
    <div class="clear" id="FRMSpacing"></div>
    <form id="frm-submit-forms" action="?action=save" onsubmit="return _doPost(this)" method="post">
        <input type="hidden" name="configname" value="{ke.function.configName/}" />
        <table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
            <tr class="change">
                <td class="Base" operate="shrink" shrink="true" text="base" colspan="6">参数配置 >> 提现参数配置</td>
            </tr>
            <tr operate="base" class="hback">
                <td style="width:80px;" class="tips">开启提现</td>
                <td style="width:420px;" class="singlebtn">
                    {ke.function.isopen/}
                </td>
                <td style="width:80px;" class="tips">提现次数</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="Alipaytimer" value="{ke.function.Alipaytimer/}" class="inputtext" size="8" notkong="true" placeholder="纯数字" isnumeric="true" />
                    <span>同用户每天最多允许提现次数,0为不限制</span>
                </td>
            </tr>

            <tr operate="base" class="hback">
                <td style="width:80px;" class="tips">重复提现</td>
                <td style="width:420px;" class="singlebtn">
                    {ke.function.iRepeat/}
                </td>
                <td style="width:80px;" class="tips">提现总额</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="AlipayTotal" value="{ke.function.AlipayTotal/}" class="inputtext" size="8" notkong="true" placeholder="纯数字" isnumeric="true" />
                    <span>用户每日最多允许提现金额</span>
                </td>
            </tr>

            <tr operate="base" class="hback">
                <td class="tips">提现金额</td>
                <td class="singlebtn">
                    <input type="text" name="MinAmount" value="{ke.function.MinAmount/}" class="inputtext" size="8" notkong="true" placeholder="纯数字" isnumeric="true" />
                    <span>(单位元)单次提现最小金额</span>
                </td>
                <td class="tips">提现金额</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="MaxAmount" value="{ke.function.MaxAmount/}" class="inputtext" size="8" notkong="true" placeholder="纯数字" isnumeric="true" />
                    <span>(单位元)单次提现最大金额</span>
                </td>
            </tr>

            <tr operate="base" class="hback">
                <td class="tips">提现时间</td>
                <td>
                    <input type="text" name="StartHour" placeholder="请填写纯数字" value="{ke.function.StartHour/}" class="inputtext" notkong="true" size="8" /><span>(小时分钟)每日开始提现的时间</span>
                </td>
                <td class="tips" >结束时间</td>
                <td colspan="4">
                    <input type="text" name="EndHour" placeholder="请填写纯数字" value="{ke.function.EndHour/}" class="inputtext" notkong="true" size="8" /><span>(小时分钟)每日结束提现的时间</span>
                </td>
            </tr>

            <tr class="change">
                <td class="Base" operate="shrink" shrink="false" text="ali" colspan="6">参数配置 >> 支付宝提现设置</td>
            </tr>
            <tr style="display:none" operate="ali" class="hback">
                <td style="width:80px;" class="tips">开启支付宝</td>
                <td style="width:420px" class="singlebtn">
                    {ke.function.isAlipay/} <span>关闭后将不再使用支付宝提现功能</span>
                </td>
                <td class="tips">订单审核</td>
                <td class="singlebtn">
                    {ke.function.AliDisplay/}
                </td>
                <td class="tips">提现方式</td>
                <td class="singlebtn">
                    {ke.function.AlIsOnLine/}
                </td>
            </tr>

            <tr style="display:none" operate="ali" class="hback">
                <td style="width:80px;" class="tips"><font color="red">*</font>支付宝商家账号</td>
                <td style="width:420px;" class="singlebtn">
                    <input type="text" name="AliBusinessID" placeholder="微信支付商家账号ID" value="{ke.function.AliBusinessID/}" class="inputtext" id="AliBusinessID" size="32" />
                </td>
                <td class="tips" >审核金额</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="AliAmount" placeholder="请填写纯数字" value="{ke.function.AliAmount/}" class="inputtext" notkong="true" size="8" id="AliAmount" /><span>(元)提现超过当前金额需要审核</span>
                </td>
            </tr>
            <tr style="display:none" operate="ali" class="hback">
                <td valign="top" style="width:80px;" class="tips">
                    <font color="red">*</font>支付宝商户公钥
                    <div style="display:block;line-height:20px;color:#999">密钥为支付宝与商户交互密文协议,涉及商家账户安全,改项密文信息请妥善保管切勿泄露</div>
                </td>
                <td class="singlebtn">
                    <textarea class="inputtext" id="AliPublicKey" style="width:400px;height:220px" name="AliPublicKey">{ke.function.AliPublicKey/}</textarea>
                </td>
                <td valign="top" style="width:80px;" class="tips">
                    <font color="red">*</font>支付宝商户私钥
                    <div style="display:block;line-height:20px;color:#999">密钥为支付宝与商户交互密文协议,涉及商家账户安全,改项密文信息请妥善保管切勿泄露</div>
                </td>
                <td class="singlebtn" colspan="4">
                    <textarea class="inputtext" id="AliPrivateKey" style="width:400px;height:220px" name="AliPrivateKey">{ke.function.AliPrivateKey/}</textarea>
                </td>
            </tr>


            <tr class="change">
                <td class="Base" operate="shrink" shrink="false" text="wechat" colspan="6">参数配置 >> 微信提现设置</td>
            </tr>
            <tr style="display:none" operate="wechat" class="hback">
                <td style="width:80px;" class="tips">开启微信</td>
                <td style="width:420px" class="singlebtn">
                    {ke.function.isWeChat/} <span>关闭后将不再使用微信提现功能</span>
                </td>
                <td class="tips">订单审核</td>
                <td class="singlebtn">
                    {ke.function.WeDisplay/}
                </td>
                <td class="tips">提现方式</td>
                <td class="singlebtn">
                    {ke.function.WeIsOnLine/}
                </td>
            </tr>

            <tr style="display:none" operate="wechat" class="hback">
                <td style="width:80px;" class="tips"><font color="red">*</font>商户ID</td>
                <td style="width:420px;" class="singlebtn">
                    <input type="text" name="WeChatBusinessID" placeholder="微信支付商家账号ID" value="{ke.function.WeChatBusinessID/}" class="inputtext" id="WeChatBusinessID" size="32" />
                </td>
                <td class="tips">审核金额</td>
                <td colspan="4">
                    <input type="text" name="WeAmount" placeholder="请填写纯数字" value="{ke.function.WeAmount/}" class="inputtext" notkong="true" size="8" id="WeAmount" /><span>(元)提现超过当前金额需要审核</span>
                </td>
            </tr>

            <tr style="display:none" operate="wechat" class="hback">
                <td style="width:80px;" class="tips"><font color="red">*</font>开放平台AppID</td>
                <td class="singlebtn">
                    <input type="text" name="WeChatAppId" placeholder="开放平台AppID" value="{ke.function.WeChatAppId/}" class="inputtext" id="WeChatAppId" size="32" />
                </td>

                <td style="width:80px;" class="tips"><font color="red">*</font>商户支付密钥</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="WeChatBusinessKey" placeholder="微信支付商家支付密钥" value="{ke.function.WeChatBusinessKey/}" class="inputtext" id="WeChatBusinessKey" size="32" />
                </td>
            </tr>


            <!--<tr class="change">
                <td class="Base" operate="shrink" shrink="false" text="other" colspan="6">参数配置 >> 兑吧参数</td>
            </tr>
            <tr style="display:none" operate="other" class="hback">
                <td style="width:80px;" class="tips">开启兑吧</td>
                <td colspan="5" class="singlebtn">
                    {ke.function.isDollar/}<span>关闭后将不再使用兑吧功能</span>
                </td>
            </tr>

            <tr style="display:none" operate="other" class="hback">
                <td class="tips">兑换审核</td>
                <td class="singlebtn">
                    {ke.function.DbDisplay/}
                </td>
                <td class="tips">审核金额</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="autoAmount" placeholder="纯数字(单位元)" value="{ke.function.autoAmount/}" class="inputtext" id="autoAmount" size="12" /><span>低于当前金额提现不需要审核</span>
                </td>
            </tr>

            <tr style="display:none" operate="other" class="hback">
                <td style="width:80px;" class="tips">应用ID</td>
                <td style="width:420px;" class="singlebtn">
                    <input type="text" name="DollarAppKey" placeholder="兑吧应用APPID" value="{ke.function.DollarAppKey/}" class="inputtext" id="DollarAppKey" size="32" />
                </td>
                <td style="width:80px;" class="tips">应用密钥</td>
                <td class="singlebtn" colspan="4">
                    <input type="text" name="DollarAppSecret" placeholder="兑吧应用AppSecret" value="{ke.function.DollarAppSecret/}" class="inputtext" id="DollarAppSecret" size="32" />
                </td>
            </tr>-->
            <tr class="xingmu">
                <td></td>
                <td colspan="5">
                    <input type="submit" operate="submit" value="确认保存" class="button" />
                    <input type="button" value="返回上页" onclick="history.go(-1);" class="button" />
                </td>
            </tr>
            <!--<tr class="hback">
                <td colspan="6" class="attention">
                    <font color="red">
                        <strong>兑吧接口说明</strong>
                    </font>
                    <br />积分消费接口地址∶<font color="#03F">{domian}/api/dollar/Request.aspx</font>
                    <br />结果通知接口地址∶<font color="#03F">{domian}/api/dollar/result.aspx</font>
                    <br />违规查询接口地址∶<font color="#03F">{domian}/api/dollar/Illegal.aspx</font>
                    <br />以上三个接口地址再与兑吧对接是配置接口处填写，请勿随意更改！
                </td>
            </tr>-->


        </table>
    </form>
</body>
</html>
