<!DOCTYPE html>
<html>
<head>
<title>{ke.function.classname/}</title>
<meta name="description" content="{ke.config(siteDescrption)/}" />
<meta name="keywords" content="{ke.config(sitekeywords)/}" />
<meta name="application-name" content="{ke.config(sitename)/}"/>
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="format-detection" content="telephone=no">
<meta name="screen-orientation" content="portrait">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="template/images/style.css?{timestamp}" rel="stylesheet" type="text/css" >
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="inc/sweet/sweetalert.css?{timestamp}" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/sweet/sweetalert.js?{timestamp}"></script>
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery.form.js?{timestamp}"></script>
<script language="javascript" src="inc/forwork.js?{timestamp}"></script>
<script language="javascript" src="inc/response.js?{timestamp}"></script>
<style type="text/css">
#frmTitle{ display:block; clear:both; text-align:center;padding:5px 10px;}
#frmContent{margin:0px auto; clear:both;padding:12px; line-height:150%;display:block;}
#frmDate{display:block; clear:both; text-align:right;padding:5px 10px;}
</style>
<body>
<div id="frm-header">
	<div id="frm-headerHistory" onClick="history.go(-1)"></div>
	<div id="frm-headerName">文章阅读</div>
	<div id="frm-headerMenu"></div>
</div>
<div id="frm-spacing"></div>
<div style="background:#fff;" id="MAINContianer">
	<div style="clear:both; font-size:0px; height:12px;"></div>
	<h2 id="frmTitle">{ke.function.title/}</h2>
	<div id="frmContent">{ke.function.content/}</div>
	<div id="frmDate">{ke.function.addtime/}</div>
</div>
</body>
</html>
