<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/app/(\d+)/(\w+).aspx</LookFor>
        <SendTo>~/API/UnionBack.aspx?UnionID=$1&amp;UnionKey=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Mopan/(\d+).aspx</LookFor>
        <SendTo>~/API/Mopan.aspx?ChannelID=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/api/dollar/(\w+).aspx</LookFor>
        <SendTo>~/api/dollar.aspx?action=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/list/(\d+).(\w+)</LookFor>
        <SendTo>~/items/list.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/list/(\d+)/(\d+).(\w+)</LookFor>
        <SendTo>~/items/list.aspx?classid=$1&amp;page=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/items/(\d+)/(\d+).(\w+)</LookFor>
        <SendTo>~/items/items.aspx?classId=$1&amp;ItemsID=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/single/(\w+).(\w+)</LookFor>
        <SendTo>~/items/single.aspx?identify=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/define/(\w+)/default.aspx</LookFor>
        <SendTo>~/items/define.aspx?define=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/api/duiba/(\w+).aspx</LookFor>
        <SendTo>~/api/duiba.aspx?action=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/signup/(\w+)/share</LookFor>
        <SendTo>~/member/register.aspx?action=signup&amp;userid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/member/(\w+)/(\w+)</LookFor>
        <SendTo>~/member/$1.aspx?action=$2</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <connectionStrings>
    <add name="MSSQL" connectionString="server=iZb93kqjhlzxbaZ;database=HaiHong;uid=sa;pwd=hh123456;Max Pool Size=1000;Min Pool Size=0;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="IPAddress" connectionString="server=iZb93kqjhlzxbaZ;database=HaiHong;uid=sa;pwd=hh123456;Max Pool Size=1000;Min Pool Size=0;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="ApplicationBuffer" connectionString="server=iZb93kqjhlzxbaZ;database=HaiHong;uid=sa;pwd=hh123456;Max Pool Size=1000;Min Pool Size=0;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="LookMSSQL" connectionString="server=iZb93kqjhlzxbaZ;database=HaiHong;uid=sa;pwd=hh123456;Max Pool Size=1000;Min Pool Size=0;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="Access" connectionString="Provider=Microsoft.jet.oledb.4.0;data source=E:\/WebForm\/Net\/dotfookecms\/Data\/data.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <httpRuntime requestValidationMode="2.0" executionTimeout="500" maxRequestLength="409600000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="false" />
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
            <!--<mimeMap fileExtension=".otf" mimeType="application/octet-stream" />-->
            <mimeMap fileExtension=".ipa" mimeType="application/iphone" />
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
            <mimeMap fileExtension=".mobileconfig" mimeType="AddType application/x-apple-aspen-config" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

