<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;" />
<title>修改表单构建</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/modal.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
</head>
<body>
<div class="tips_menu_bar">
<a href="?action=default">表单管理</a>
<a href="?action=add">新建表单</a>
<a class="current">修改构建</a>
<a href="?action=code">代码调用</a>
</div>
<div class="clear" id="FRMSpacing"></div>
<form id="iptforms" action="?action=etxtsave" onsubmit="return _doPost(this)" method="post">
<input type="hidden" name="fromsId" value="{ke.function.fromsid/}" />
<table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr class="change">
<td class="Base" colspan="2">表单管理 >> 修改构建</td>
</tr>

<tr operate="intxt" class="xingmu">
<td>输入模版<font color="#F00">(以下内容为表单调用时输出内容，请勿随意修改)</font></td>
</tr>
<tr  operate="intxt" class="xingmu">
<td class="singlebtn">
<textarea class="inputtext" name="buildTxt" style="width:96%;height:280px;">{ke.function.BuildTxt/}</textarea>
<br/>表单录入的模版，请勿随意修改!
</td>
</tr>

<tr class="xingmu">
<td>
<input type="submit" value="确认保存" class="button"/>
<input type="button" value="返回上页" onclick="history.go(-1);" class="button"/>
</td>
</tr>
</table>
</form>
</body>
</html>