<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>用户账变记录</title>
<link href="template/images/style.css" rel="stylesheet" type="text/css" />
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery-ui.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/jquery-easyui/jquery.easyui.min.js"></script>
<script language="javascript" src="inc/WdatePicker.js"></script>
<style type="text/css">
select{width:100%;padding:0px; border:#c3d6f6 solid 1px; border-radius:0px; background:#fefefe}
select option{ display:block;padding:6px 6px; background:#FFF; border-bottom:#f4f4f4 solid 1px;}	
</style>
</head>
<body>
<div class="tips_menu_bar">
<a href="?action=default">生成首页</a>
<a href="?action=list">生成栏目</a>
<a href="?action=single" class="current">生成单页</a>
<a href="?action=context">生成内容</a>
</div>
<div class="clear" id="FRMSpacing"></div>
<table width="99%" border="0" cellspacing="1" cellpadding="3" class="table">
<tr class="hback">
<td class="Base" colspan="2">发布管理 >> 生成单页</td>
</tr>
<form id="frmForm" onSubmit="return _doPost(this);" action="?" method='post'>
<input type="hidden" name="action" value="refreSingle" />
<tr class="hback">
<td class='xingmu' colspan='2'>
<input type='submit' class='button' value='生成所有单页面' />
</td>
</tr>
</form>
<tr class="Base">
<td class='Base' colspan='2'>选择指定页生成</td>
</tr>
<form action="?action=refreSingle" method='post'>
<tr class="hback">
<td class='xingmu' colspan='2'>
<select multiple="multiple" style="width:300px;height:220px" name="SingleID">
<option value="" disabled="disabled">请选择要生成的页面</option>
{ke.function.option/}
</select>
<br/><br/>
<input type='submit' class='button' value='生成选中的页面' />
<br/>
选择单页面时可以按住Ctrl+鼠标或Shift+鼠标多选
</td>
</tr>
</form>
</table>
</body>
</html>
