<!DOCTYPE html>
<html>
<head>
<title>系统消息</title>
<meta name="description" content="{ke.config(siteDescrption)/}" />
<meta name="keywords" content="{ke.config(sitekeywords)/}" />
<meta name="application-name" content="{ke.config(sitename)/}"/>
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="format-detection" content="telephone=no">
<meta name="screen-orientation" content="portrait">
<link href="template/images/style.css?{timestamp}" rel="stylesheet" type="text/css" >
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="inc/sweet/sweetalert.css?{timestamp}" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/sweet/sweetalert.js?{timestamp}"></script>
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery.form.js?{timestamp}"></script>
<script language="javascript" src="inc/forwork.js?{timestamp}"></script>
<script language="javascript" src="inc/response.js?{timestamp}"></script>
<style type="text/css">
#frm-tabs{ width:100%; margin:0px auto; clear:both; background:#fff; border-collapse:collapse;}
#frm-tabs label.habck{ clear:both; width:100%; height:66px; overflow:hidden; display:block; border-bottom:#eee solid 1px; position:relative;}
#frm-tabs label.habck div.ico{ position:absolute;left:12px;top:8px; display:block; width:50px; height:50px;}
#frm-tabs label.habck div.ico img{ position:absolute;left:0px;top:0px; display:block; border-radius:4px; width:50px; height:50px;}
#frm-tabs label.habck div.name{ position:absolute;left:80px;top:12px; font-size:14px; color:#333;}
#frm-tabs label.habck div.tips{ position:absolute;left:80px;top:36px; font-size:12px; color:#666}
#frm-tabs label.habck input[type="radio"]{ position:absolute; right:24px;top:24px; border:#ccc solid 1px; display:block; width:16px; height:16px; border-radius:8px;}
#frm-tabs label.habck input[type="radio"]:checked{ background:url(template/images/chenck.png) center center no-repeat; border:#5dd139 solid 1px; background-size:100%;}
</style>
</head>
<body>
<div id="frm-header">
	<div id="frm-headerHistory" onClick="history.go(-1)"></div>
	<div id="frm-headerName">系统提示</div>
	<div id="frm-headerMenu"></div>
</div>
<div id="frm-spacing"></div>
<div style="clear:both; width:100%; font-size:0px; height:40px;"></div>
<div style="clear:both; width:100%; text-align:center;"><img src="template/images/aide/underfind.png" style="width:120px;" /></div>
<div style="clear:both; width:100%; font-size:0px; height:30px;"></div>
<div style="clear:both; width:90%; margin:0px auto;padding:4px 0px; text-align:center; font-size:14px; color:#333">{ke.function.tips/}</div>
<div style="clear:both; width:100%; font-size:0px; height:30px;"></div>
<div id=""><a style="clear: both; display: block; width: 90%; height: 46px; text-align: center; line-height: 46px; color: #ff5f5f; border-radius: 4px; border: #ff5f5f solid 1px; margin: 0px auto;;" onClick="history.go(-1)">返回到上一页</a></div>
<div style="clear:both; width:100%; font-size:0px; height:15px;"></div>
<div><a style="clear: both; display: block; width: 90%; height: 46px; text-align: center; line-height: 46px; color: #FFF; border-radius: 4px; color: #fff; background: #ff5f5f; border: #ff5f5f solid 1px; margin: 0px auto;; " href="Home.aspx">进入个人中心</a></div>
</body>
</html>