<!DOCTYPE html>
<html>
<head>
<title>编辑银行卡</title>
<meta name="description" content="{ke.config(siteDescrption)/}" />
<meta name="keywords" content="{ke.config(sitekeywords)/}" />
<meta name="application-name" content="{ke.config(sitename)/}"/>
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="format-detection" content="telephone=no">
<meta name="screen-orientation" content="portrait">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="template/images/style.css?{timestamp}" rel="stylesheet" type="text/css" >
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="inc/sweet/sweetalert.css?{timestamp}" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/sweet/sweetalert.js?{timestamp}"></script>
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery.form.js?{timestamp}"></script>
<script language="javascript" src="inc/forwork.js?{timestamp}"></script>
<script language="javascript" src="inc/response.js?{timestamp}"></script>
</head>
<body>
<div id="frm-header">
	<div id="frm-headerHistory" onClick="history.go(-1)"></div>
	<div id="frm-headerName">编辑银行卡</div>
	<div id="frm-headerMenu"></div>
</div>
<div id="frm-spacing"></div>
<div id="MAINContianer">
<form id="formContianer" method="post" action="../api/Bank.aspx" onSubmit="return _doPost(this)">
<input type="hidden" name="action" value="editsave" />
<input type="hidden" name="bankId" value="{ke.function.bankId/}" />
<table id="frm-input" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="xingmu">
<td class="spacing"></td>
<td colspan="3">银行卡信息</td>
</tr>

<tr class="hback">
<td class="spacing"></td>
<td style="width:80px" class="name">银行卡名称</td>
<td colspan="2" class="value">
<input type="text" notkong="true" name="Bankname" class="inputtext" id="Bankname" value="{ke.function.Branch/}" placeholder="请填写卡号所属银行名称" />
</td>
</tr>
<tr class="hback">
<td class="spacing"></td>
<td class="name">银行卡账号</td>
<td colspan="2" class="value">
<input type="text" notkong="true" name="BankAccount" class="inputtext" id="BankAccount" value="{ke.function.BankAccount/}" placeholder="请填写您的银行卡账号" />
</td>
</tr>

<tr class="hback">
<td class="spacing"></td>
<td style="width:80px" class="name">开户行名称</td>
<td colspan="2" class="value">
<input type="text" notkong="true" name="Branch" class="inputtext" id="Branch" value="{ke.function.Branch/}" placeholder="开户行或机构代码" />
</td>
</tr>
<tr class="hback">
<td class="spacing"></td>
<td class="name">持卡人姓名</td>
<td colspan="2" class="value">{ke.function.Fullname/}</td>
</tr>
<tr class="xingmu">
<td class="spacing"></td>
<td colspan="3">银行卡验证</td>
</tr>
<tr class="hback">
<td class="spacing"></td>
<td class="name">手机号</td>
<td colspan="2" class="value">{ke.function.Username/}</td>
</tr>
<tr class="hback">
<td></td>
<td style="width:80px;" class="name">短信验证码</td>
<td class="value" style="padding:0px;">
<div style="position:relative;width:100%;top:0px; height:32px;">
<input type="tel" notkong="true" style="width:80px;left:4px;position:absolute;right:8px;" placeholder="填写验证码" name="captcha" value="" /><input type="button" notkong="true" operate="captcha" id="frm-captcha" style="position:absolute;right:8px;top:4px; border-radius:4px;padding:3px 4px; background:#81b8f1;color:#fff;" value="获取验证码" url="Home.aspx?action=message" />
</div>
</td>
</tr>

<tr class="line">
<td style="border:0px;height:10px;" colspan="4"></td>
</tr>



<tr class="operback">
<td colspan="3">
<input type="button" value="立即绑定" operate="submit" id="frm-submit" />
</td>
</tr>
</table>
<br/><br/>
</form>
</div>
<div style="clear:both; width:100%; font-size:0px;height:10px;"></div>
<div id="FooterLayout">{ke.include(template/menu/footer.html?menu=User)/}</div>
</body>
</html>