<!DOCTYPE html>
<html>
<head>
<title>支付成功</title>
<meta name="description" content="{ke.config(siteDescrption)/}" />
<meta name="keywords" content="{ke.config(sitekeywords)/}" />
<meta name="application-name" content="{ke.config(sitename)/}"/>
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="template/images/style.css?{timestamp}" rel="stylesheet" type="text/css" >
<link href="template/images/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="inc/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="inc/sweet/sweetalert.css?{timestamp}" rel="stylesheet" type="text/css" />
<script language="javascript" src="inc/sweet/sweetalert.js?{timestamp}"></script>
<script language="javascript" src="inc/jquery.js"></script>
<script language="javascript" src="inc/jquery.form.js"></script>
<script language="javascript" src="inc/forwork.js"></script>
<script language="javascript" src="inc/clipboard.js"></script>
<style type="text/css">
#BODYContianer{ display:block; clear:both; width:80%; margin:0px auto;padding:0px; overflow:hidden; text-align:center;color:#fff; font-family:"宋体";}
</style>
</head>
<body>
<div style="display:block; clear:both; width:100%; font-size:0px; height:120px;"></div>
<div id="BODYContianer">
	<div style="display:block; clear:both; width:100%; font-size:0px; height:15px;"></div>
	<div id="QRThumb"><img src="template/images/successtips.png" style="width:140px" /></div>
	<div style="display:block; clear:both; width:100%; font-size:0px; height:15px;"></div>
	<div style="display:block; clear:both; font-size:16px; font-weight:600; width:100%; text-align:center;">支付成功</div>
	<div style="display:block; clear:both; width:100%; font-size:0px; height:15px;"></div>
	<div style="display:block; clear:both;width:100%;padding:4px 0px;">支付金额:{ke.function.amount/}元</div>
	<div style="display:block; clear:both;width:100%;padding:4px 0px;">获得ZNC币:{ke.function.feeAmount/}个</div>
	<div style="display:block; clear:both; width:100%; font-size:0px; height:15px;"></div>
	<input type="button" value="返回首页" class="button" onClick="window.location='Index.aspx'" operate="ok" />
</div>
</body>
</html>